[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
	branch = main
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay.git
	branch = main
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
[submodule "Tweaks/FLEXing"]
	path = Tweaks/FLEXing
	url = https://github.com/PoomSmart/FLEXing
	branch = rootless
[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis.git
